---
---
<header id="header">
    <nav class="navbar">
        <a href="#">HOME</a>
        <a href="#projects">PROYECTOS</a>
        <a href="#about">SOBRE MÍ</a>
        <a href="mailto:jdannielrb@gmail.com?subject=Contacto%20desde%20Portafolio&body=Hola%20Daniel,"
            title="Gmail" class="contact-button">CONTACTO</a>
    </nav>
</header>
